.problem {
    border: 3px outset  #af7ac5 ;
      padding: 5px;
    background-color:  #fff1ff
    ;
  }
  
  .problem:before {
  content: "Problema. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .problem[text]:before {
  content: "Defini\00E7\00E3 o (" attr(text) ") ";
  }
  
  
  .subproblem {
    border: 3px outset #00aaff;
    background-color: #f1f9ff ;
    padding: 5px;
  }
  
  .subproblem:before {
  content: "Tarefa. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .subproblem[text]:before {
  content: "Tarefa (" attr(text) ") ";
  }
  
  .subexample {
    border: 3px outset  #7dcea0;
    background-color: #f2faf6;
      padding: 5px;
  }
  
  .subexample:before {
  content: "Exemplo. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .subexample[text]:before {
  content: "Exemplo (" attr(text) ") ";
  }
  
  
  .hint {
    border: 3px outset #f7dc6f;
    background-color:#fcf9ee;
    padding: 5px;
  }
  
  .hint:before {
  content: "Dica. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .hint[text]:before {
  content: "Hint (" attr(text) ") ";
  }
  
  
  .example_run {
    border: 3px outset hotpink;
    background-color: #fff2e6;
      padding: 5px;
  }
  
/*  .lemma:before {
  content: "Lema. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .lemma[text]:before {
  content: "Lema (" attr(text) ") ";
  }
  
  
  .theorem {
    border: 3px outset hotpink;
    background-color: #fff2e6;
      padding: 5px;
  }
  
  .theorem:before {
  content: "Teorema. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .theorem[text]:before {
  content: "Teorema (" attr(text) ") ";
  }
  
  .corollary {
    border: 3px outset hotpink;
    background-color: #fff2e6;
      padding: 5px;
  }
  
  .corollary:before {
  content: "Corol\00E1 rio. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .corollary[text]:before {
  content: "Corol\00E1 rio (" attr(text) ") ";
  }
  
  .proof {
    border: 3px outset green;
      padding: 5px;
    background-color: #e6ffcc;
  }
  
  .proof:before {
  content: "Demonstra\00E7\00E3 o. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .proof[text]:before {
  content: "Demonstra\00E7\00E3 o (" attr(text) ") ";
  }
  
  .conjecture {
    border: 3px outset hotpink;
    background-color: #fff2e6;
      padding: 5px;
  }
  
  .conjecture:before {
  content: "Conjectura. ";
  font-weight: bold;
  font-style: normal;
  }
  
  .conjecture[text]:before {
  content: "Conjecture (" attr(text) ") ";
  }
  */


  .problembox {
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .25rem;
    border-left: solid #acacac .3rem;
    border-right: solid 1px silver; 
    border-top: solid 1px silver;
    border-bottom: solid 1px silver;
    border-left-color: #9834eb !important; 
  }

  .problembox-icon {
    height: .9rem; 
    width: .9rem;
    display: inline-block; 
    content: "";
    background-repeat: no-repeat;
    background-size: .9rem .9rem;
    margin-top: .5rem;
    padding-right: .5rem;
    background-image: url('icons/clipboard-question-solid.svg');
    padding-left: .5em;
    padding-top: .5em;
  }

  .problembox-header {
    margin-top: 0.5em;
    margin-bottom: .5em;
    border-bottom: none;
    font-weight: 600;
    opacity: 85%;
    font-size: 1.5rem;
    padding-left: .5em;
    padding-right: .5em;
    display: flex;
    background-color: #f5e8ff;
  }

  .problembox-body{
    padding-left: .5em;
    padding-right: .5em;
  }